p {
    font-size: 17px;
    color: #595858;
}
h3 {
    font-size: 20px;
}
img {
    width: 38%;
}
body {
    background-color: #faf9ec;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}